body {
    text-align: center;
    background-color: #FFEFD3;
    width: 70%;
    height: 100%;
    margin: 40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#363537;
    padding:0
}
h1,h2,h3 {
    line-height: 1.2
}

div {
    position: relative;
    width: 100%;
    max-width: 450px;
    border: 1px solid #7E846Baa;
    /* padding: 50px; */
    margin: 0 auto;
}

label[for="King"], #King{
    display: none;
}

div[id="game-window"] button {
    margin: 15px;
    /* display: inline-block; */
}
button {
    min-width: 150px;
    min-height: 30px;
    width: fit-content;
    height: fit-content;
    font-size: 18px;
    padding: 5px;
}
#hitsCount {
    padding-top: 15px;
}
#game-window {
    height: auto;
    padding: 25px 0px;
}
#GameStart {
    z-index: 4;
    margin: 0 auto;
}
.button-wrapper {
    z-index: 2;
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
}
.hand {
    text-align: left;
    margin-left: 25px;
    position: relative;
    width: 100%;
    border: none;
}
.deck {
    /* margin-top: 80px; */
    margin-right: 25px;
    margin-left: auto !important;
}
.coveredCard {
    width: 49px !important;
    margin-right: : 0px;
}
.playerControls {
    display: none;
}
.card {
    /* float: left; */
    margin-left: 0px;
    width: 140px;
    height: 158px;
    position: relative;
    background-image: url("WZ9Od.gif");
    background-size: 1820px 790px;
    display: inline-block;
    border: none;
}
